.blogs-header {
  @include fluid-type(margin-bottom,320px,1440px,30px,80px);
  position: relative;
  background-color: $color-pink-light;

  &__content {
    @include fluid-type(padding-top padding-bottom,320px,1440px,20px,80px);
    max-width: 1064px;
    padding: 0 20px;
    margin: auto;
    p {
      margin-bottom: 22px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__content-inner {
    max-width: 480px;
    line-height: 1.5;
  }

  &__title {
    @include fluid-type(margin-bottom,320px,1440px,20px,30px);
    @include fluid-type(font-size,320px,1440px,26px,34px);
    position: relative;
    &:after {
      position: absolute;
      right: -70px;
      top: 0;
      width: 1em;
      content: attr(data-japanese);
      font-family: MSMincho, sans-serif;
    }
  }

  &__image {
    max-width: 40vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  @include media-tablet-landscape {
    &__content-inner {
      max-width: 400px;
    }

    &__title {
      &:after {
        display: none;
      }
    }
  }

  @include media-phone {
    display: flex;
    flex-direction: column-reverse;

    &__content-inner {
      max-width: 480px;
    }

    &__image {
      display: none;
    }
  }

  @media (min-width: 1024px) {
    &__image {
      img {
        width: 40vw;
        max-height: 100%;
        object-fit: cover;
      }
    }
  }
}

//.blogs-header {
//  display: flex;
//  @include fluid-type(margin-bottom,320px,1440px,30px,80px);
//  justify-content: stretch;
//
//  &__content {
//    align-self: stretch;
//    background-color: $color-pink-light;
//    flex-grow: 1;
//    @include fluid-type(padding,320px,1440px,20px,80px);
//    display: flex;
//    justify-content: center;
//    position: relative;
//
//    p {
//      margin-bottom: 22px;
//      &:last-child {
//        margin-bottom: 0;
//      }
//    }
//  }
//
//  &__content-inner {
//    max-width: 480px;
//    line-height: 1.5;
//  }
//
//  &__title {
//    @include fluid-type(margin-bottom,320px,1440px,20px,30px);
//    @include fluid-type(font-size,320px,1440px,26px,34px);
//    &:after {
//      position: absolute;
//      @include fluid-type(right,768px,1440px,-20px,80px);
//      top: 80px;
//      width: 1em;
//      content: attr(data-japanese);
//      font-family: MSMincho, sans-serif;
//    }
//  }
//
//  &__image {
//    img {
//      height: 100%;
//      width: 100%;
//      object-fit: cover;
//    }
//  }
//
//  @include media-phone {
//    &__image {
//      display: none;
//    }
//    &__title {
//      &:after {
//        display: none;
//      }
//    }
//  }
//
//}

.blog-categories {
  max-width: 1064px;
  padding: 0 20px;
  margin: auto auto 40px;

  &__item {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 15px;
  }

}