.button-block {
  background-color: $color-pink-light;
  min-height: 240px;
  padding: 42px 0;
  margin-bottom: 80px;
  line-height: 1.38;

  &__container {
    max-width: 1440px;
    margin: auto;
    position: relative;
  }

  &__item-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include fluid-type(margin-left margin-right,320px,1440px,10px,50px);
    color: $color-grey-dark;
  }

  &__header {
    margin-bottom: 4px;
  }

  &__image-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__button {
    position: absolute;
    right: 6%;
    bottom: 10px;
  }

  @include media-tablet-landscape {
    &__container {
      display: flex;
      flex-direction: column;
    }

    &__item {
      margin: auto;
    }

    &__button {
      position: unset;
      align-self: center;
      margin-top: 40px;
    }
  }
}