.cart-added {
  position: fixed;
  right: 20px;
  top: 20px;
  max-width: 620px;
  padding: 30px 40px;
  @include fluid-type(padding-top padding-bottom,320px,1440px,22px,32px);
  @include fluid-type(padding-left padding-right,320px,1440px,12px,40px);
  border: solid 1px $color-pink-dark;
  background-color: $color-white;
  z-index: 10;
  overflow: auto;
  max-height: 90vh;
  display: none;

  #close-cart-added {
    float: right;
    transform: rotate(45deg);
    cursor: pointer;
  }

  &__header {
    margin-bottom: 30px;
    color: $color-pink-dark;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.6px;
  }

  &__item {
    display: flex;
    margin-bottom: 20px;
  }

  &__image-container {
    img {
      @include fluid-type(width,320px,1440px,80px,100px);
    }
    margin-right: 16px;
  }

  &__item-content {
    flex-grow: 1;
  }

  &__item-category {
    @include fluid-type(font-size,320px,1440px,8px,11px);
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 11px;
    text-transform: uppercase;
  }

  &__item-container {
    display: flex;
    justify-content: space-between;
  }

  &__item-header {
    width: 240px;
    @include fluid-type(font-size,320px,1440px,11px,18px);
    line-height: 1.4;
    margin-bottom: 6px;
  }

  &__quantity {
    margin: 0 30px;
    min-width: 60px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .5px;
  }

  &__price {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .5px;
  }

  &__footer {
    text-align: right;
  }

  &__subtotal {
    letter-spacing: .5px;
    font-weight: 500;
    margin-bottom: 11px;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__tax {
    @include fluid-type(font-size,320px,1440px,9px,11px);
    margin-bottom: 20px;
  }

  @include media-phone-small {
    left: 20px;
    right: 20px;

    &__item-container {
      flex-direction: column;
    }

    &__item-header {
      width: unset;
    }

    &__quantity {
      display: none;
    }

    &__price {
      text-align: right;
    }

  }
}