// Define base sales.
html {
  font-size: 62.5%;
  /* Sets 1 rem to 10px */
}

body {
  font-size: 1.6rem;
  @include font-light;
  -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
  -moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}

::-moz-selection {
  color: $color-white;
  background: $color-grey-dark;
}

::selection {
  color: $color-white;
  background: $color-grey-dark;
}

@mixin container-width {
  @include fluid-type(padding-left padding-right,320px,1440px,20px,40px);
  max-width: 1440px;
  margin: auto;
}

.container {
  @include container-width();
}

.hide-on-mobile {
  @include media-phone {
    display: none !important;
  }
}

.hide-on-mobile-small {
  @include media-phone-small {
    display: none !important;
  }
}

.hide-on-mobile-x-small {
  @include media-phone-x-small {
    display: none !important;
  }
}