// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-dark: #3d4246;
$color-grey: #787878;
$color-pink-light: #fdf0f3;
$color-pink-medium: #f7dad8;
$color-pink-dark: #cc726b;
$color-red: #EE2524;


// Breakpoints
$media-large-screen: 1232px;
$media-tablet-landscape: 1024px;
$media-phone: 768px;
$media-phone-small: 575px;
$media-phone-x-small: 440px;